{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bootstrap{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main' %}">{% translate "My market" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'product_list' %}">{% blocktranslate %}
                    Products{% endblocktranslate %}</a>
                <a class="nav-link" href="{% url 'product_add' %}">{% translate "Add Product" %}</a>
                <a class="nav-link" href="{% url 'cart' %}">{% translate "Cart" %}</a>
                {% block menu %}{% endblock %}
                {% if request.user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile' request.user.id %}">
                        {% blocktranslate with user_name=request.user.get_full_name|default:request.user.username %}
                            Привет, {{ user_name }}{% endblocktranslate %}</a>
                    <form method="post" action="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link active">{% translate "Выйти" %}</button>
                    </form>
                {% else %}
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">{% translate "Войти" %}</a>
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'accounts:register' %}?next={{ request.get_full_path }}">{% translate "Зарегистрироваться" %}</a>
                {% endif %}

                <li class="nav-item dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% get_language_info for LANGUAGE_CODE as current_language %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">{{ current_language.name_local }}</a>
                    <ul class="dropdown-menu">
                        {% for language in languages %}
                            <li><a class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                                   href="/{{ language.code }}{{ language_base_link }}">
                                {{ language.name_local }} ({{ language.code }})
                            </a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
<div class="container py-4">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>