{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    {% include 'partial/simple_search.html' with form=search_form %}
    <div class="row my-4">
        {% for product in products %}
            <div class="col-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text"><small
                                        class="text-body-secondary">{{ product.category.title }}</small></p>
                                <p class="card-text">Price: {{ product.price }} $</p>
                                <a class="btn btn-primary" href="{% url 'product_detail' product.pk %}" role="button">see more >>></a>
                                <a class="btn btn-primary" href="{% url 'product_update' product.pk %}" role="button">Edit</a>
                                <a class="btn btn-primary" href="{% url 'product_delete' product.pk %}" role="button">Delete</a>
                                <a class="btn btn-primary" href="{% url 'product_add_to_cart' product.pk %}" role="button">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}